//悬浮框
.floatCotainer {
  width: 0.74rem;
  position: fixed;
  right: 0.12rem;
  bottom: 1.74rem;
  z-index: 400;
  .topBtn {
    &:extend(.btnStyle);
    display: none;
  }
  .downloadBtn {
    &:extend(.btnStyle);
    margin-top: 0.1rem;
  }
  img {
    margin-top: 0.14rem;
    width: 0.46rem;
    height: 0.46rem;
  }
}
.btnStyle {
  width: 100%;
  height: 0.74rem;
  opacity: 0.8;
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(202, 202, 202, 0.5);
  border-radius: 3px;
  text-align: center;
  line-height: 0.74rem;
}
.modelClass {
  width: 7.5rem !important;
  height: 50vh !important;
  overflow: hidden;
}
.dialogTitle {
  height: 0.42rem;
  font-size: 0.24rem;
  color: #999;
  text-align: left;
  line-height: 0.42rem;
  margin-left: 0.2rem;
}
.flexContainer {
  height: 70vh;
}
.downloadWWW :global(.am-modal-transparent .am-modal-content) {
  padding-top: 1.33rem !important;
}
.timeList {
  width: 6.9rem;
  margin-top: 0.3rem;
  margin-left: 0.1rem;
  text-align: left;
}
.groupBtn {
  width: 2.1rem;
  font-size: 0.24rem;
  height: 0.56rem;
  line-height: 0.56rem;
  margin: 0 0.1rem 0.2rem 0.1rem;
  display: inline-block;
  border-radius: 0.04rem;
  text-align: center !important;
}
.timeBtnStyle {
  &:extend(.groupBtn);
  background: #f5f8fa !important;
}
.timeBtnSelected {
  &:extend(.groupBtn);
  background: #52c9c2 !important;
}
.spanIdSelected {
  color: #fff !important;
  //position: absolute;
  //left: 0.05rem;
}
.spanNameSelected {
  //position: absolute;
  //left: 0.45rem;
  color: #fff !important;
}
.spanIdStyle {
  position: absolute;
  left: 0.05rem;
  color: #52c9c2 !important;
}
.spanNameStyle {
  position: absolute;
  left: 0.45rem;
  color: #00001e !important;
}
.nextStep {
  width: 2.6rem;
  height: 0.78rem;
  margin: 0.78rem auto;
  background: #52c9c2;
  text-align: center !important;
  font-size: 0.3rem;
  color: #fff;
}
.timeList :global(.am-button) {
  padding-left: 0 !important;
}
