//趋势图下方查看全部按钮样式
.checkAllGroup {
  position: relative;
  z-index: 10;
  width: inherit;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.28rem;
  text-align: center;
  color: #52c9c2;
}
.btnStyle {
  background: #f5f8fa !important;
  /* color:#00001E  !important; */
  font-size: 0.2rem !important;
  width: 2.1rem !important;
  height: 0.56rem !important;
  line-height: 0.56rem !important;
  margin: 0 0.1rem 0.2rem 0;
  display: inline-block !important;
  border-radius: 0.04rem !important;
}
.btnSelected {
  background: #52c9c2 !important;
  /* color:#FFFFFF !important; */
  font-size: 0.2rem !important;
  width: 2.1rem !important;
  height: 0.56rem !important;
  line-height: 0.56rem !important;
  margin: 0 0.1rem 0.2rem 0;
  display: inline-block !important;
  border-radius: 0.04rem !important;
}
.spanIdSelected {
  color: #fff !important;
  position: absolute;
  left: 0.05rem;
}
.spanNameSelected {
  position: absolute;
  left: 0.45rem;
  color: #fff !important;
}
.spanIdStyle {
  position: absolute;
  left: 0.05rem;
  color: #52c9c2 !important;
}
.spanNameStyle {
  position: absolute;
  left: 0.45rem;
  color: #00001e !important;
}
