.wrap {
  text-align: left;
  padding-right: 0.2rem;
}
.btnStyle {
  position: relative;
  background: #f5f8fa;
  border-radius: 0.04rem;
  width: 2.1rem;
  height: 0.56rem;
  line-height: 0.56rem;
  margin: 0.2rem 0 0 0.2rem;
  display: inline-block;
  font-size: 0.222rem;
  color: #444348;
}
.btnSelected {
  position: relative;
  background: #52c9c2;
  border-radius: 0.04rem;
  width: 2.1rem;
  height: 0.56rem;
  line-height: 0.56rem;
  margin: 0.2rem 0 0 0.2rem;
  display: inline-block;
  font-size: 0.22rem;
  color: #fff;
}
.btnStyle::before {
  border: none;
  border-radius: 0.04rem;
}
.btnSelected::before {
  border: none;
  border-radius: 0.04rem;
}

.newBtnSelectedClass {
  color: #fff;
}
.newBtnClass {
  color: #444348;
}

.newBtnSelectedClass::before {
  border: none;
  border-radius: 0.04rem;
}
.newBtnClass::before {
  border: none;
  border-radius: 0.04rem;
}

.numberOne {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0.06rem;
  width: 0.3rem;
}
