.commonClass {
  display: inline-block;
  width: 50%;
  height: 0.74rem;
  text-align: center;
  font-size: 0.3rem;
  color: #999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tabClass {
  color: #52c9c2;
  border-bottom: 0.02rem solid #52c9c2;
}

.newCommonClass {
  color: #999;
}

.newTabClass {
  color: #52c9c2;
}
