.commonClass {
  display: inline-block;
  height: 0.74rem;
  text-align: center;
  font-size: 0.3rem;
  color: #999;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tabClass{
  color:#52C9C2;
  border-bottom: .02rem solid #52C9C2;
}

.newCommonClass {
  text-align: center;
}

.newTabClass{
  text-align: center;
}

.selectSpan1{
  background: rgb(82, 201, 194);
  color: #fff!important;
  border-radius:.04rem 0 0 .04rem;
}
.selectSpan2{
  background: rgb(82, 201, 194);
  color: #fff!important;
  border-radius:0 .04rem .04rem 0;
}

.text{
  font-style: normal;
  line-height: .53rem;
  margin-left: .33rem;
  /*position: absolute;*/
  /*left: .33rem;*/
  /*top: .11rem;*/
}
.iconImg{
  position: absolute;
  top: .11rem;
  left: 1rem;
  width: .26rem;
}
