/*列表样式*/
.tableCss {
  width: 7.1rem;
  height: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #fff;
  font-size: 0.2rem;
  .leftCss {
    width: 0.88rem;
    word-wrap: break-word;
    margin: 0 0.09rem;
  }
  .proCss {
    width: 0.8rem;
    margin: 0 0.09rem;
  }
  /*没有排名的样式*/
  .proCss2 {
    width: 2.02rem;
    margin: 0 0.09rem;
  }
  .rankCss {
    width: 1.04rem;
    text-align: center;
    margin: 0 0.09rem;
  }
  .equableCss {
    width: 0.66rem;
    margin: 0 0.09rem;
    text-align: right;
  }
  .ringRatioCss {
    width: 1.1rem;
    margin: 0 0.09rem;
    text-align: right;
    position: relative;
  }
  .countCss {
    width: 1.01rem;
    text-align: right;
  }
  .rightCss {
    width: 0.4rem;
    height: 0.8rem;
    margin-left: 0.18rem;
    line-height: 0.8rem;
    text-align: center;
  }
}
.ulCss {
  box-sizing: border-box;
  background: #fff;
  li {
    min-height: 0.8rem;
    font-size: 0.18rem;
  }
  .liCssFir {
    background: #e5e5e5;
  }
  .liCssSec {
    background: #f0f0f0;
  }
  .liCssThr {
    color: #333;
    background: #fbfbfb;
  }
}
.triImg {
  width: 0.12rem;
  height: 0.12rem;
  margin: 0 0 0.02rem 0.08rem;
}
.circleG {
  color: #7ed321;
  margin-left: 0.1rem;
  font-size: 0.22rem;
}
.circleY {
  color: #ffe000;
  margin-left: 0.1rem;
  display: inline-block;
  font-size: 0.22rem;
}
.circleR {
  color: #ff5959;
  margin-left: 0.1rem;
  font-size: 0.22rem;
  display: inline-block;
}
