.spanIdSelected{
  color:#FFFFFF !important;
  position: absolute;
  left: 0.05rem;
}
.spanNameSelected{
  position: absolute;
  left: 0.3rem;
  color:#FFFFFF !important;
}
.spanIdStyle{
  position: absolute;
  left: 0.05rem;
  color: #52C9C2 !important;
}
.spanNameStyle{
  position: absolute;
  left: 0.3rem;
  color:#00001E !important;
}
.btnContainer {
  display: flex;
  margin: 0.2rem 0.1rem 0.4rem 0.1rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  flex-flow:row wrap;
  justify-content: start;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
