.container{
    width: 100%;
    height: 100vh;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
}
.conter{
   margin-top:2.6rem;
}
.content{
  margin: 0.6rem auto !important;
}
.desc{
    list-style: none;
    margin: 0;
    padding: 0;
}
.authInfo{
    height: 0.6rem;
    line-height: 0.4rem;
    font-size: 0.32rem;
    color: #333;
    }
.authItem{
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.28rem;
  color: #999;
}


.imgContent{
  width: 7.5rem !important;
  height: 6.92rem !important;
}
