.wrap {
  width: 7.1rem;
  height: 0.8rem;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  font-size: 0.2rem;
  margin-bottom: 0.14rem;
  .title {
    width: 0.5rem;
  }
}
/*列表样式*/
.tableCss {
  width: 7.1rem;
  height: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #fff;
  font-size: 0.2rem;
}
.leftCss {
  width: 1rem;
  padding-left: 0.1rem;
  word-wrap: break-word;
  margin: 0 0.09rem;
  text-align: left;
}
.proCss {
  width: 1rem;
  margin: 0 0.09rem;
  text-align: left;
}
.rankCss {
  width: 1.04rem;
  text-align: center;
}
.equableCss {
  width: 0.88rem;
  text-align: right;
  margin: 0 0.09rem;
}
.ringRatioCss {
  width: 0.9rem;
  text-align: center;
  margin: 0 0.09rem;
}
.rightCss {
  width: 0.6rem;
  margin: 0 0.09rem;
  text-align: center;
}
.firRankBox {
  height: 100%;
}
.firRankCls {
  display: block;
  height: 0.32rem !important;
  line-height: 0.32rem !important;
}

/*箭头*/
.arrowR {
  position: absolute;
  right: 0.4rem;
  width: 0.18rem;
  height: 0.1rem;
  margin-top: 0.35rem;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.arrowDown {
  position: absolute;
  right: 0.4rem;
  width: 0.18rem;
  height: 0.1rem;
  display: inline-block;
}
.activeArr {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.arrowUp {
  position: absolute;
  right: 0.4rem;
  width: 0.18rem;
  height: 0.1rem;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
:global(html:not([data-scale]) .am-list-body::after),
:global(html:not([data-scale]) .am-list-body::before) {
  background-color: #fff !important;
}
