.container {
  width: 7.1rem;
  padding-left: 0.2rem;
  .leftCss {
    display: inline-block;
    width: 1.2rem;
  }
  .rightCss {
    width: 5.7rem;
    display: inline-block;
    .dataCss {
      display: inline-block;
      width: 1.9rem;
      text-align: center;
    }
  }
}
