.m_container {
  width: 7.1rem;
  font-size: 0.2rem;
  padding-left: 0.2rem;
  color: #333;
  .u_leftCss {
    display: inline-block;
    padding-left: 0.2rem;
    width: 1.2rem;
  }
  .u_rightCss {
    width: 5.7rem;
    display: inline-block;
    .dataCss {
      display: inline-block;
      text-align: center;
      .u_unitScore {
        display: inline-block;
        width: 0.5rem;
        text-align: right;
      }
    }
    .width_2 {
      width: 2.85rem;
    }
    .width_3 {
      width: 1.9rem;
    }
  }
}
